<div class="product-info">
    <h3 class="h6 mb-2">{{ item.product.name }}</h3>
    <div class="product-details small">
        <div class="detail-item mb-1">
            <span class="text-muted">Size:</span>
            <span class="fw-500">{% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</span>
        </div>
        <div class="detail-item">
            <span class="text-muted">SKU:</span>
            <span class="text-secondary">{{ item.product.sku|upper }}</span>
        </div>
    </div>
</div>