core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
*.sqlite3
superuser: jawahir
password: Jawanest999

client_secret: 'sk_test_51QE7vqBOTgvORfXXHZCUGuqgd7qp9ZZpUo7zaUPQB6B7xG2Z9wc00MYgHKcmrrnNwTEzb3heS4a6cT8CSJiLemZZ00HS3g47JD'
export STRIPE_PUBLIC_KEY=pk_test_51QE7vqBOTgvORfXXct9Sp4ce1Zhs1cT2eEwv32Y1lHTfCi9TBJOu0SiJYNRLHlkI8IUtjI0ErGw6XJqsQW8hY4sh00evVUSxg6

export STRIPE_SECRET_KEY=sk_test_51QE7vqBOTgvORfXXHZCUGuqgd7qp9ZZpUo7zaUPQB6B7xG2Z9wc00MYgHKcmrrnNwTEzb3heS4a6cT8CSJiLemZZ00HS3g47JD